// Widget

.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}

// Widget header

.widget-header {
  background: $blue;
  color: $off-white;
  padding: $m-size;
  display: flex;
  justify-content: space-between;
}

.widget-header__title {
  margin: 0;
}

// Add option message

.widget__add-option {
  color: $off-white;
  margin: 0;
  text-align: center;
  padding: $l-size;
  border-bottom: 1px solid lighten($off-white, 10%);
}
